    </div>
    <script src="https://volgactf-wallet.s3-us-west-1.amazonaws.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://volgactf-wallet.s3-us-west-1.amazonaws.com/popper.min.js"></script>
    <script src="https://volgactf-wallet.s3-us-west-1.amazonaws.com/bootstrap.min.js"></script>
    <script src="https://volgactf-wallet.s3-us-west-1.amazonaws.com/locale_<%= lang %>.js"></script>
    <script>
    	if(location.search.includes('error'))
    		$('#error').removeClass("d-none")
    </script>
  </body>
</html>