<!doctype html>
<html lang="en">
  <head>
    <title>VolgaCTF Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class="text-center">
    <header class="d-flex flex-wrap justify-content-center py-2 mb-4">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#" class="nav-link active">Index</a></li>
        <li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
      </ul>
    </header>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-5">
          <h4><%= message %></h4>
        </div>
      </div>
    </div>
  </body>
</html>
